* { box-sizing: border-box;}
body {
  max-width: 1600px;
  min-width: 980px;
  margin: 0 auto;
  font-family:'Fira Sans', sans-serif;
  color: $dark;
  background: rgb(234,234,234);
  -webkit-font-smoothing: antialiased;
  // h1, h2, h3, h4 {
  //   -webkit-font-smoothing: antialiased;
  //   font-weight: 300;
  // }
  // h3 {
  //   font-family: inherit !important;
  //   text-transform: none !important;
  //   font-weight: 400 !important;
  //   color: $dark !important;
  // }
  .container { 
    width: 100%;
  }

  footer { 
    margin: 0 !important;
    padding: 0 !important;
  }
}
.tooltip-header {
  position: absolute;
  background: rgba(#fff,1);
  box-shadow: 0 2px 5px rgba(#000,0.25);
  z-index: 21;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  text-transform: uppercase;
  top: 100%;
  left: 50%;
  text-align: center;
  padding: 10px;
  font-weight: 300;
  white-space: nowrap;
  font-size: 12px;
  @include transform(translate(-50%,10px));
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    background: #fff;
    z-index: 2;
    top: 0;
    left: 50%;
    @include transform(translate(-50%,-50%) rotate(45deg));
    border-top: 1px solid #e5e5df;
    border-left: 1px solid #e5e5df;
  }
}
.submenu-tooltip {
  position: absolute;
  min-width: 150px;
  background: rgba(#FFF,1);
  box-shadow: 0 2px 5px rgba(#000,0.25);
  z-index: 1;
  visibility: hidden;
  text-transform: none;
  font-weight: 300;
  &.top {
    top: 100%;
    left: 50%;
    @include transform(translate(-50%,10px));
    &:after {
      top: 0;
      left: 50%;
      @include transform(translate(-50%,-50%) rotate(45deg));
      border-top: 1px solid #e5e5df;
      border-left: 1px solid #e5e5df;
    }
  }
  &.bottom {
    bottom: 100%;
    left: 50%;
    @include transform(translate(-50%,-10px));
    &:after {
      bottom: 0;
      left: 50%;
      @include transform(translate(-50%,50%) rotate(45deg));
      border-bottom: 1px solid #e5e5df;
      border-right: 1px solid #e5e5df;
    }
  }
  //@include transition(all 0.15s ease-in-out);
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    background: #FFF;
    z-index: 2;
  }
  li {
    display: block;
    margin: 0;
    border-top: 1px solid #EAECEF;
    font-size: 15px;
    // white-space: nowrap;
    &:first-child { border-top: none;}
    a,.link {
      color: #444;
      font-weight: 300;
      padding: 14px 20px;
      text-decoration: none;
      text-align: center;
      display: block;
      &:hover { background: darken($white,2%);}
    }
  }
}
