#view-full-description {
  width: initial;
  top: 9px;
  right: 0;
}
#dataset-description {
  font-family: 'Fira Sans', Helvetica, sans-serif !important;
}
#slide-region {
  position: initial;
  width: 100%;

  .layout {
    #page-content {
      & > .container { width: 95%;}
    }
    #dataset-header-row {
      .btn { 
        border: none;
        box-shadow: none;
      }
      .dropdown-menu {
        top: 0;
        left: 50%;
        padding: 0;
        @include transform-translate(-50%, 0);
        box-shadow: 0 -2px 3px rgba(0,0,0,0.25);
        a { 
          padding: 8px 55px;
          transition: all 150ms linear;
        }
      }
      #show-download-progress-region { display: none !important;}
    }
  }
}
#show_layout {
  #dets-container {
    padding-left: 5px;
    .attributes-view {
      .attributes {
        margin-top: 5px;
        font-family: inherit;
        color: $dark;
        li {
          border-left: 0;
          border-right: 0;
          .attribute-info {  background: none !important;}
          .attribute-info, span { color: $dark !important;}
          .attribute-stats { padding: 18px !important;}
          &:nth-child(2n) { background: $gray !important;}
        }
      }
      #dataset-description {
        margin-bottom: 20px;
        line-height: 1.5;
        font: normal 13px 'Fira Sans', serif;
        color: $dark;
        p { font-size: 14px;}
        a, * > a {
          color: $cGreen;
          font-weight: 400;
        }
        b {
          font: normal 14px 'Fira Sans', serif;
          color: $dark;
          font-weight: 500;
        }
      }
    }
  }
}
#dataset-attributes-region {
  #view-full-description {
    padding: 0;
    color: $cGreen;
    text-decoration: none,
  }
  li:nth-child(2n) { background: $gray !important;}
}
#dataset-attributes-region {
  .attribute-info, .attribute-stats { color: $dark !important;}
  .attribute-info { 
    border-right: 0;
    background: none !important;
  }
}
.table-data-container { margin-left: -2px;}


.section-header {
  text-transform: none;
  font-weight: 400;
  color: $dark;
}