#view-full-description {
  width: initial;
  top: 9px;
  right: 0;
}
#dataset-description {
  font-family: 'Fira Sans', Helvetica, sans-serif !important;
}
#slide-region {
  position: initial;
  width: 100%;
  .layout {
    position: relative;
    left: 50%;
    min-width: 980px;
    width: 75%;
    margin: 0;
    transform: translateX(-50%);
    .container {
      margin: 0;
      padding: 0;
      .container {
        width: auto;
        #dataset-header-row {
          margin: 0;
          width: 100%;
          #show-download-progress-region { display: none !important;}
        }
      }
    }
  }
}
#show_layout {
  #dets-container {
    padding-left: 5px;
    .attributes-view {
      .section-header {
        text-transform: none;
        color: $dark;
      }
      .attributes {
        margin-top: 5px;
        font-family: inherit;
        color: $dark;
        li {
          border-left: 0;
          border-right: 0;
          .attribute-info { background: none !important;}
          .attribute-info, span { color: $dark !important;}
          .attribute-stats { padding: 18px !important;}
          &:nth-child(2n) { background: $gray !important;}
        }
      }
      #dataset-description {
        margin-bottom: 20px;
        line-height: 1.5;
        font: normal 13px 'Fira Sans', serif;
        color: $dark;
        p { font-size: 14px;}
        a, * > a {
          color: $cGreen;
          font-weight: 400;
        }
        b {
          font: normal 14px 'Fira Sans', serif;
          color: $dark;
          font-weight: 500;
        }
      }
    }
  }
}
#dataset-attributes-region {
  #view-full-description {
    padding: 0;
    color: $cGreen;
    text-decoration: none,
  }
  li:nth-child(2n) { background: $gray !important;}
}
#dataset-attributes-region {
  .attribute-info, .attribute-stats { color: $dark !important;}
  .attribute-info { background: none !important;}
}
.table-data-container { margin-left: -2px;}
