.home {
  #slide-region {
    width: 100%;
    font-weight: 400;
    h3 {
      font-family: inherit !important;
      text-transform: none !important;
      font-weight: 400 !important;
      color: $dark !important;
    }
    #slide-me {
      position: initial;
      left: 0;
      width: 100%;
      transform: none;
      #page-content {
        max-width: 1600px;
        .container {
          width: 100% !important;
          padding: 0;
          .row {
            margin: 0 auto;
            section { background: $gray;}
            .main-apps {
              border-bottom: 1px solid $border;
              .col6 {
                background: $white;
                h3 { color: $dark;}
              }
            }
            .apps { padding: 0 0 48px 0;}
            .row-apps {
              width: 90%;
              margin: 0 auto;
              border: none;
              h2 {
                width: 40%;
                margin: 50px auto;
                font-family: 'Fira Sans', sans-serif;
                font-weight: 300;
                text-align: center;
                color: $dark !important;
              }
              .row {
                padding: 0;
                .col3 {
                  position: relative;
                  margin: 0 0 20px 0;
                  padding: 35px;
                  border: 1px solid $border;
                  background: $white;
                  transition: all,0.5s,cubic-bezier(0.445, 0.05, 0.55, 0.95);
                  &:hover { box-shadow: 0 0px 5px rgba(0,0,0,0.25);}
                  h3 {
                    width: 100%;
                    text-align: center;
                    padding: 0;
                    line-height: 1em;
                  }
                  .description {
                    margin-bottom: 50px;
                    font-size: 14px;
                    font-weight: 300;
                    text-align: center;
                  }
                }
              }
            }
          }
        }
        .interesting-section {
          padding: 70px 0;
          background: $gray;
          border-top: 1px solid $border;
          border-bottom: 1px solid $border;
          .inner {
            width: 75%;
            max-width: 1200px;
            margin: 0 auto;
            .section-title {
              padding: 0 0 40px;
              color: $cGreen;
              text-align: center;
              font-size: 32px;
              font-weight: 300;
            }
            .row {
              display: flex;
              .col {
                display: flex;
                width: 33.3333%;
                padding: 0 15px;
                min-width: 260px;
                min-height: 1px;
                margin: 0;
                border-left: 1px solid $border;
                border-top: none;
                .card {
                  position: relative;
                  padding: 35px 25px 100px;
                  text-align: center;
                  overflow: hidden;
                  header {
                    h2 {
                      padding: 0 0 15px;
                      font-weight: 400 !important;
                      font-size: 21px;
                      color: $dark;
                      text-transform: uppercase;
                    }
                  }
                  .content {
                    p {
                      font-size: 14px;
                      color: $dark;
                      line-height: 1.25;
                    }
                  }
                  a:hover {
                    background: $black;
                    text-decoration: none;
                  }
                }
                &:first-child { border-left: none;}
              }
            }
          }
        }
        .sup-footer {
          .inner-sup-footer {
            overflow: hidden;
            width: 90%;
            margin: 55px auto;
            .social, .updates {
              float: left;
              width: 50%;
              text-align: center;
              h4 {
                margin: 0 0 15px;
                font-family: 'Fira Sans', sans-serif;
                font-weight: 400;
                .bold {
                  color: $dark;
                  font-weight: 500;
                }
              }
              ul {
                margin: 15px 0 0;
                li {
                  display: inline-flex;
                  margin: 0 10px;
                  a {
                    svg {
                      width: 20px;
                      height: 20px;
                    }
                  }
                }
              }
              .share_buttons {
                line-height: 2.3em;
                .fb-like { line-height: .6;}
              }
            }
          }
        }
      }
    }
  }
}
.apps  {
  background: $white;
  position: relative;
  z-index: 2;
  .link-tags {
    position: absolute;
    min-width: 600px;
    z-index: 250;
    top: -67px;
    left: 31%;
    list-style-type: none;
    transform: translateX(-50%);
    ul {
      max-width: 80%;
      li {
        position: relative;
        display: inline-flex;
        margin: 0 3px 10px 0;
        padding: 0 12px;
        border-radius: 8px;
        border: 1px solid #d4d4d4;
        background: #F7F7F7;
        font-size: 0.875em;
        .icon-plus {
          position: absolute;
          top: 50%;
          @include transform-translate(0, -50%);
          font-size: 0.6em;
        }
        .tag-name {
          padding-left: 12px;
          a {
            color: $dark;
            &:hover { text-decoration: underline;}
          }
        }
      }
    }
  }
}
.main-apps  {
  //.row { @include row();}
  .col { cursor: pointer;}
  .col6 {
    @include col(50);
    float: left;
    // padding: 20px;
    // @media (min-width: $br-mobile){ padding: 30px 0;}
    border-left: 1px solid $border;
    &:first-child  { border-left: none; }
    a {
      display: block;
      position: relative;
      padding: 20px 0;
      text-decoration: none;
      &:hover{
        .icon{ background: $dark;}
      }
    }
    .icon {
      margin: 0 auto;
      width: 100px;
      height: 100px;
      padding: 15px;
      border-radius: 50%;
      background: $cGreen;
      @include transition(all .15s $easeInOutSine);
      svg {
        width: 100%;
        height: 100%;
        fill: $white;
      }
    }
    h3 {
      text-align: center;
      text-transform: uppercase;
      font-size: 17px;
      margin: 0;
      padding: 20px 0 0;
      color: $dark;
      @media (min-width: $br-mobile) { font-size: 24px;}
    }
  }
}
.row-apps {
  @media (min-width: $br-mobile){ border-top: 1px solid $border;}
  border-bottom: 1px solid $border;
  .row {
    @include row();
    position: relative;
    .col3 {
      @include col(50);
      padding: 20px;
      border-top: 1px solid $border;
      border-left: 1px solid $border;
      @media (min-width: $br-mobile) {
        @include col(31);
        padding: 30px 0;
        border-top: none;
      }
    }
  }
}
// button styles
.btn {
  display: inline-block;
  position: absolute;
  bottom: 35px;
  left: 50%;
  z-index: 1;
  height: 36px;
  line-height: 36px;
  border-radius: 40px;
  box-shadow: none;
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: 0;
  text-align: center;
  font-weight: 500 !important;
  white-space: nowrap;
  text-decoration: none;
  transform: translate(-50%, 0);
  cursor: pointer;
  &:hover { background: $black;}
}
.dark {
  background: $dark;
  color: $white !important;
}
.medium {
  padding: 0 35px;
  text-transform: uppercase;
}
.soon {
  background: none;
  font-weight: 400 !important;
  text-transform: uppercase;
  text-shadow: none;
  cursor: default;
  color: #ccc;
  &:hover {
    background: initial;
    color: #ccc;
  }
}

