#show-banner-region {

  .arrow { display: none;}

  // Download
  .download-popover-container {
    position: absolute;
    top: 0 !important;
    left: -70px !important;
    right: auto !important;
    width: auto;
    .download-popover {
      min-width: initial;
      width: 550px;
      top: -1px;
      left: -4px;
      padding: 0;
      background: $white;
      box-shadow:0px 1px 3px rgba(0,0,0,0.25);
      .dl-links, .dl-filtered{
        padding: 0;
        top: 0;
        font-size: 15px;
        line-height: 17px;
        .hr { display: none !important;}
        .heavy {
          display: block !important;
          padding: 10px;
          background: $gray;
          text-transform: none;
          color: $dark;
          border: 1px solid #D4D4D4;
          border-left: none;
          border-right: none;
          &:first-child { border-top: none;}
        }
        a,.link, .api {
          display: block;
          width: 25%;
          margin: 0;
          color: #555;
          font-weight: 300;
          padding: 14px 20px;
          text-decoration: none;
          text-align: center;
          background: #fff !important;
          &:first-child { border-top: none;}
          &:hover { background: darken($white,2%) !important;}
          
        }
        &:last-child { display: none !important;}
      }
      .api-options {
        position: absolute;
        top: 191px;
        left: 144px;
        width: 340px;
        padding: 10px;
        border: 0;
        box-shadow:0px 1px 3px rgba(0,0,0,0.25);
        background: $white;
        .row {
          width: 100%;
          .api-text {
            float: none;
            color: $dark !important;
          }
          .btn, input {
            color: $dark;
            &:focus { outline: none;}
          }
          .btn{
            position: relative !important;
            height: 30px;
            top: -1px;
            left: 49px;
            line-height: 24px;
            border: 1px solid $cGreen;
            border-radius: 20px;
            background-color: $white !important;
            &:hover { background-color: $gray !important;}
          }
          input {
            box-shadow: 0 0 3px #ccc inset;
          }
        }
      }
    }
  }
}
.invisible-container {
  .download-popover {
    min-width: initial;
    background: $white;
    .dl-links{ padding: 0;}
    a, span {
      float: none !important;
      margin: 5px 0;
      color: $dark;
    }
  }
}
