#saved-layers {
  min-height: 0;
  background: none;
  border: 0;
  #my-layers, h4 { font-family: inherit !important;}
  #my-layers {
    color: $dark !important;
    h4 {
      color: $dark;
      border: 0;
    }
    #fav-region {
      border-left: 1px solid #e7e7e7;
      a, #fav-drag-help {
        padding: 0 0 0 8px;
        color: $dark;
        font-style: normal;
      }
      a { margin-left: 16px !important;}
      .fav-check {
        float: none;
        margin: 0 0 0 10px;
      }
      .fav-name { max-width: none;}
      .favorite {
          background: none;
        a {
          position: absolute;
          max-width: 80%;
          left: 30px;
          margin: 0;
        }
      }
      .icon-delete {
        float: left;
        margin: 0 0 0 15px;
        &:hover {
          opacity: .3;
          color: #000;
        }
      }
    }
  }
}
