.footer { padding: 0;}
footer {
  min-width: 850px;
  margin: 0 !important;
  font-family: 'Fira Sans', serif !important;
  background: #edede8;
  .container {
    max-width: none;
    padding: 0;
    .apps-footer {
      padding: 20px 0;
      border-bottom: 1px solid #E5E5DF;
      .inner {
        margin: 0 auto;
        ul {
          display: flex;
          -webkit-box-pack: justify;
          -webkit-box-align: stretch;
          align-items: stretch;
          margin: 0;
          li {
            display: inline-block;
            width: 16.666666%;
            text-align: center;
            a {
              display: block;
              padding: 20px;
              svg {
                width: 30px;
                height: 30px;
                margin-bottom: -9px;
                fill: #555;
                transition: all 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95)
              }
              h3 {
                margin-top: 3px;
                font-size: 12px;
                text-align: center;
                text-transform: uppercase !important;
                font-weight: 400 !important;
                color: #555;
                line-height: 1.3em;
              }
              &:hover {
                svg { fill: #97bd3d !important;}
                h3 { color: #97bd3d !important;}
              }
            }
            .fire:hover {
              svg { fill: #ed1846 !important;}
              h3 { color: #ed1846 !important;}
            }
            .commodities:hover {
              svg { fill: #e98300 !important;}
              h3 { color: #e98300 !important;}
            }
          }
        }
      }
    }
    .site-map {
      padding: 0 0 40px;
      .inner {
        margin: 0 auto;
        .row {
          display: flex;
          -webkit-box-pack: justify;
          justify-content: space-between;
          -webkit-box-align: stretch;
          align-items: stretch;
          padding: 20px 0 40px 0;
          border-bottom: 1px solid #E5E5DF;
          .col {
            width: 20%;
            h3 {
              a {
                padding: 0 0 15px;
                font-size:  14px;
                font-weight: 500;
                text-transform: uppercase;
                color: #555 !important;
                &:hover { text-decoration: underline;}
              }
            }
            ul {
              margin: -10px 0 0;
              li {
                padding: 5px 10px 5px 0;
                font-size: 13px;
                font-weight: 300;
                line-height: 1;
                a {
                  color: $dark !important;
                  text-decoration: none;
                  font-weight: 400;
                  &:hover { text-decoration: underline;}
                }
              }
            }
          }
        }
      }
    }
    .partner-box {
      padding: 0 0 40px;
      .inner {
        margin: 0 auto;
        h4 {
          font-family: inherit;
          font-size: 14px;
          font-weight: 400 !important;
          padding: 0 0 15px;
          color: #555;
        }
        .row {
          .wri-logo {
            display: inline-flex;
            height: 70px;
            width: 270px;
            background: url('http://gfw-nav.herokuapp.com/assets/logos-sd59f31ac4c.png') no-repeat;
            background-position: 0 -1711px;
          }
          .address {
            display: inline-block;
            float: right;
            font-size: 14px;
            text-align: right;
            font-weight: 300;
            line-height: 1;
            strong,
            span {
              display: block;
              font-weight: 400;
            }
            span {
              margin: 8px 0 0;
              a {
                color: $dark !important;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
    .footer-logos-btn {
      padding: 20px 0;
      .inner {
        display: flex;
        position: relative;
        margin: 0 auto;
        align-items: stretch;
        justify-content: space-between;
        box-align: stretch;
        box-pack: stretch;
        span, a {
          color: $dark !important;
        }
        span {
          font-weight: 400;
          font-size: 19px;
        }
        a {
          font-weight: 300;
          font-size: 13px;
          &:hover { text-decoration: underline;}
        }
      }
    }
    .footer-logos {
      .inner {
        margin: 0 auto;
        .footer-logo {
          display: block;
          background: url('http://gfw-nav.herokuapp.com/assets/logos-sd59f31ac4c.png') no-repeat;
          margin: 0 auto;
          width: 88px;
          position: relative;
          top: 50%;
          -webkit-transform: translate(0, -50%);
          -moz-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
          -o-transform: translate(0, -50%);
          transform: translate(0, -50%);
        }
        .wri {
          height: 32px;
          width: 95px;
          background-position: 0 -2414px;
          &:hover { background-position: 0 -1075px;}
        }
        .google {
          height: 29px;
          width: 85px;
          background-position: 0 -2715px;
          &:hover { background-position: 0 -656px;}
        }
        .esri {
          height: 33px;
          width: 87px;
          background-position: 0 -2381px;
          &:hover { background-position: 0 -1042px;}
        }
        .universitymaryland {
          height: 51px;
          width: 56px;
          background-position: 0 -2034px;
          &:hover { background-position: 0 -742px;}
        }
        .unep {
          height: 57px;
          width: 49px;
          background-position: 0 -1874px;
          &:hover { background-position: 0 -793px;}
        }
        .imazon {
          height: 24px;
          width: 79px;
          background-position: 0 -2839px;
          &:hover { background-position: 0 -1484px;}
        }
        .cfgd {
          height: 40px;
          width: 84px;
          background-position: 0 -1946px;
          &:hover { background-position: 0 -850px;}
        }
        .osfac {
          height: 56px;
          width: 44px;
          background-position: 0 -2183px;
          &:hover { background-position: 0 -890px;}
        }
        .gfwca {
          height: 44px;
          width: 42px;
          background-position: 0 -2580px;
          &:hover { background-position: 0 -1667px;}
        }
        .scanex {
          height: 20px;
          width: 110px;
          background-position: 0 -2624px;
          &:hover { background-position: 0 -1313px;}
        }
        .twrus {
          height: 28px;
          width: 110px;
          background-position: 0 -2552px;
          &:hover { background-position: 0 -1285px;}
        }
        .norwegian {
          height: 46px;
          width: 110px;
          background-position: 0 -2137px;
          &:hover { background-position: 0 -1828px;}
        }
        .usaid {
          height: 64px;
          width: 80px;
          background-position: 0 -1566px;
          &:hover { background-position: 0 -549px;}
        }
        .gef {
          height: 59px;
          width: 51px;
          background-position: 0 -2239px;
          &:hover { background-position: 0 -983px;}
        }
        .ukaid {
          height: 47px;
          width: 43px;
          background-position: 0 -2644px;
          &:hover { background-position: 0 -1781px;}
        }
        .tilia {
          height: 25px;
          width: 67px;
          background-position: 0 -3013px;
          &:hover { background-position: 0 -2988px;}
        }
        .goodall {
          height: 26px;
          width: 110px;
          background-position: 0 -2962px;
          &:hover { background-position: 0 -2446px;}
        }
        .cartodb {
          height: 39px;
          width: 110px;
          background-position: 0 -2298px;
          &:hover { background-position: 0 -1162px;}
        }
        .vizzuality {
          height: 58px;
          width: 109px;
          background-position: 0 -1508px;
          &:hover { background-position: 0 -491px;}
        }
        .blueraster {
          height: 48px;
          width: 110px;
          background-position: 0 -1986px;
          &:hover { background-position: 0 -1201px;}
        }
        .sida {
          height: 55px;
          width: 110px;
          background-position: 0 -1386px;
          &:hover { background-position: 0 -1107px;}
        }
        .danida {
          height: 15px;
          width: 82px;
          background-position: 0 -2824px;
          &:hover { background-position: 0 -1931px;}
        }
        .cgiar {
          height: 43px;
          width: 124px;
          background-position: 0 -1441px;
          &:hover { background-position: 0 -613px;}
        }
        .dutchforeign {
          height: 80px;
          width: 106px;
          background-position: 0 -2744px;
          &:hover { background-position: 0 -2472px;}
        }
        .vizzuality-big {
          height: 58px;
          width: 109px;
          background-position: 0 -1508px;
          &:hover { background-position: 0 -491px;}
        }
        .moore {
          height: 37px;
          width: 96px;
          background-position: 0 -1630px;
          &:hover{ background-position: 0 -946px;}
        }
        .bobolink {
          height: 53px;
          width: 105px;
          background-position: 0 -1333px;
        }
      }
    }
    .terms {
      padding: 1em 0;
      font-size: 12px;
      font-weight: 300;
      text-align: center;
      a {
        color: #555 !important;
        &:hover { text-decoration: underline;}
      }
    }
  }
}
