/* Map */
#map-bar-region {
  margin: 64px 0 0 0;
  border-bottom: 0;

  #controls-region {
    position: absolute;
    min-width: 980px;
    width: 75%;
    top: auto;
    bottom: 34px;
    left: auto;
    right: 50%;
    @include transform(translate(50%, 0));

    .container {
      margin: 0;
      padding: 0;
      #controls {
        position: relative;
        margin: 0;
        border: 1px solid #D9D9D9;
        background: $white;
        #map-type {
          #map-change-size {
            padding-left: 5px;
            border: 1px solid #D9D9D9;

            .map-resize {
              box-shadow: none;
            }
          }
        }
      }
    }
  }

  #map-div {
    #map-div_zoom_slider {
      position: absolute;
      top: auto;
      bottom: 35px;
      left: 50%;
      @include transform(translate(-50%, 0));
      min-width: 980px;
      width: 75%;
      margin: 0;
      padding: 0;

      .esriSimpleSliderDecrementButton {
        left: 0;
        border-radius: 0 !important;
        background: $white;
        &:hover {
          background: $white;
        }
      }
      .esriSimpleSliderIncrementButton {
        left: 30px;
        border-radius: 0 !important;
        background: $white;
        &:hover {
          background: $white;
        }
      }
    }
  }

  #locator-region {
    min-width: 980px;
    width: 75%;
    left: 50%;
    top: auto !important;
    bottom: 34px;
    margin: 0 auto;
    transform: translate(-50%, 0);

    .container {
      margin: 0;
      padding: 0;
    }

    #locator {
      position: relative;
      left: 75px;
      height: 30px;
      margin: 0;
      background: $white;
      border-radius: 0;

      .icon-search {
        margin-top: 6px;
      }
      #locator-query {
        border: 1px solid transparent;
      }
    }
  }
}


/* Header */
#banner-container {
  margin-bottom: 40px;

  #show-banner-region {

    #main-message, #nav-download, #nav-subscribe {
      float: none !important;
    }

    .rss-popover {
      top: 5px;
      right: 10px;
      background: #fff;

      .btn {
        width: 80px;
        top: 97px !important;
        left: inherit !important;
        right: 11px;
      }
    }

    .map-bar-banner {

      margin-top: 35px;
      border-bottom: 0;

      .map-bar-title {
        font-family: inherit !important;
      }

      .hide{
        display: inline-block !important;
        visibility: visible;
      }

      #main-message {
        display: inline-block;
        margin-left: 3px;
        font-size: 37px;
        font-weight: 300;
      }

      #dataset-download-container {
        display: inline-block;
        float: right;

        .btn {
          position: absolute;
          top: 58px;
          left: 6px;
          margin: 0;
          background-color: $green;
          box-shadow: none;
          text-shadow: none;
        }

        #nav-subscribe {
          min-width: 120px;
          width: 100px;
          padding: 3px 0;
          background: #97BD3D;
          border-radius: 20px;
          font-weight: 100;
          text-align: center;
          color: #fff !important;
          top: 10px;
          right: 0 !important;
          &::before {
            display: none;
            position: absolute;
            top: 3px;
            right: -18px;
          }

          &:hover {
            text-decoration: none;
          }
        }

        #nav-download {
          display: inline-block;
        }
      }
    }
  }
}

/* Subheader */
#sub-nav-region {
  height: 46px;
  border: 0;
  position: static !important;
  margin-bottom: 60px;

  .link, .link.selected {
    height: 35px;
  }
  .link {
    box-sizing: border-box;
    width: 32.4%;
    margin: 0;
    background: $grey-content !important;
    text-transform: uppercase;
    border-bottom: 1px solid #d4d4d4;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    span {
      color: $grey-title;
    }
  }

  .selected {
    border-bottom: 0;
    background: #fff !important;
    span{
      color: $grey-text;
    }
  }


  .link:first-child {
    border-right: none;
  }

  .link:last-child {
    border-left: none;
  }
}

.column-20 {
  width: 100%;
}
