/* Map */
#map-bar-region {
  margin: 64px 0 0 0;
  border-bottom: 0;
  #controls-region {
    position: absolute;
    min-width: 980px;
    width: 75%;
    top: auto;
    bottom: 34px;
    left: auto;
    right: 50%;
    @include transform(translate(50%, 0));
    .container {
      margin: 0;
      padding: 0;
      #controls {
        position: relative;
        right: 0;
        margin: 0;
        border: 1px solid #D9D9D9;
        background: $white;
        #map-type {
          span { color: $dark;}
          #map-change-size {
            padding-left: 5px;
            border: 1px solid #D9D9D9;
            .map-resize { box-shadow: none;}
          }
        }
      }
    }
  }
  #map-div {
    #map-div_zoom_slider {
      position: absolute;
      min-width: 980px;
      width: 75%;
      top: auto;
      bottom: 35px;
      left: 50%;
      margin: 0;
      padding: 0;
      @include transform(translate(-50%, 0));
      .esriSimpleSliderDecrementButton {
        left: 0;
        border-radius: 0 !important;
        background: $white;
        &:hover { background: $white;}
      }
      .esriSimpleSliderIncrementButton {
        left: 30px;
        border-radius: 0 !important;
        background: $white;
        &:hover { background: $white;}
      }
    }
  }
  #locator-region {
    min-width: 980px;
    width: 75%;
    left: 50%;
    top: auto !important;
    bottom: 34px;
    margin: 0 auto;
    transform: translate(-50%, 0);
    .container {
      margin: 0;
      padding: 0;
    }
    #locator {
      position: relative;
      left: 75px;
      height: 30px;
      margin: 0;
      background: $white;
      border-radius: 0;
      .icon-search { margin-top: 6px;}
      #locator-query { border: 1px solid transparent;}
    }
  }
}
/* Header */
#banner-container {
  margin: 0 0 40px;
  #show-banner-region {
    #main-message, #nav-download, #nav-subscribe {float: none !important;}
    .rss-popover {
      position: absolute;
      top: 42px;
      right: 0;
      background: #fff;
      box-shadow:0px 1px 3px rgba(0,0,0,0.25);
      div { padding: 0 0 10px 0;}
      #subscribe-help { line-height: 1.5em;}
      input { width: 65%;}
      .btn {
        position: static !important;
        top: 0 !important;
        left: 0 !important;
        float: right;
        height: 30px;
        border-radius: 20px;
        background-color: $white !important;
        line-height: normal;
        color: $dark;
        border: 1px solid $cGreen;
        transform: translateY(2px);

      }
    }
    .map-bar-banner {
      margin: 35px 0 0;
      padding: 0;
      border-bottom: 0;
      .map-bar-title {
        font-family: inherit !important;
        #nav-back {
          position: initial;
        }
      }
      .hide{
        display: inline-block !important;
        visibility: visible;
      }
      #main-message {
        display: inline-block;
        font-size: 37px;
        font-weight: 300;
        color: $dark;
      }
      #dataset-download-container {
        #nav-subscribe {
          position: absolute;
          top: 0;
          right: 0 !important;
          height: 36px;
          padding: 0 35px;
          background: #97BD3D;
          border-radius: 20px;
          font-weight: 500;
          font-size: 12px;
          line-height: 39px;
          text-align: center;
          color: #fff !important;
          &::before { display: none;}
          &:hover { text-decoration: none;}
        }
        #nav-download {
          display: inline-block;
          top: 0;
          left: 0;
          margin: 0;
          transform: translate(0, 0);
          line-height: 31px;
          background: $dark;
          border-radius: 20px;
        }
      }
    }
  }
}
.dataset-left {
  margin: 0;
  padding: 0;
}
/* Subheader */
#sub-nav-region {
  height: 46px;
  border: 0;
  position: static !important;
  margin: 12px 0 60px 0;
  .link, .link.selected { height: 35px;}
  .link {
    box-sizing: border-box;
    width: 33.3%;
    margin: 0;
    background: $gray !important;
    text-transform: uppercase;
    border-bottom: 1px solid #d4d4d4;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    span { color: $dark;}
  }
  .selected {
    border-bottom: 0;
    background: #fff !important;
    span{ color: $dark;}
  }
  .link:first-child { border-right: none;}
  .link:last-child { border-left: none;}
}
