.column-24 {
  .header-container {
    padding: 0;
    .section-header { margin: 20px 0;}
    .icon-help { display: none;}
  }
}
#similar-datasets-region {
  display: inline-flex;
  overflow: visible;
  margin-left: 12px;
  ul {
    display: flex;
    justify-content: space-between;
    li {
      padding: 0;
      img { border: 0;}
      a { color: $dark !important;}
    }
  }
}
