/* Search */
#search-results-nav #sort-by { color: $dark;}
/* Results */
#search-results-region {
  min-height: 0;
  .dataset-thumb img, li { border: 0;}
  img { 
    height: 67px !important;
    margin-bottom: 6px;
  }
  li {
    width: 80%;
    height: initial !important;
    padding: 40px 0 !important;
    border: none !important;
    .snippet {
      a {
        overflow: hidden;
        height: inherit !important;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 1.5em;
        div {
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    &:nth-child(n+4) {
      img {
        max-width: none;
        max-height: none;
        height: 67px !important;
      }
    }
  }
  .invisible-container {
    top: 44px;
    right: -173px;
    .card-info-container {
      background: none;
      .attributes {
        font-family: 'Fira Sans';
        border-right: 0;
        text-transform: uppercase;
      }
      .opendata-star-hollow:focus { outline: none;}

      .action-icons {
        position: relative;
        &:hover { color: $cGreen;}
        .icon-download:focus { outline: none;}
        .popover { 
          left: 50% !important;
          @media (max-width: 980px) {
            left: -55px !important;
            .arrow { left: 83% !important;}
          }
          @include transform(translate(-50%, 0));
          padding-top: 0;
          border-radius: 0;
          .popover-content {
            padding: 0;
            .dl-links { 
              a, span { 
                display: inline-flex;
                border-top: 0;
              } 
              a:hover, span:hover { background: #fafafa;}
            }

            .api-options {
              top: 100% !important;
              right: 0 !important;
              width: 450px;
              @include transform (translate(0, 20%));
              .row {
              }

              .api-text { 
                margin: 0;
                line-height: 32px;
              }

              input { 
                width: 210px;
                height: 28px;
                &:focus { outline: none;}
              }

              #copy-api-link, #copy-geojson-link {
                display: inline-block;
                height: 28px;
                padding: 6px 12px;
                margin-top: 4px;
                color: $dark;
                line-height: 16px;
                font-size: 12px;
                background-color: transparent;
                border-color: $cGreen;
                &:hover { background-color: $gray;}
              }
              
            }
          }
        }
      }
    }

    .download-popover {
      padding: 0;
      .dl-links {
        top: 0;
        a, span {
          margin: 0;
          padding: .75em;
          font: normal 13px 'Fira Sans', sans-serif;
          font-weight: 300;
          color: $dark;
          text-decoration: none;
          border-top: 1px solid #e5e5df;
          transition: all 150ms linear;
          &:hover { background: #ededed;}
          &:first-child { border-top: none;}
        }
      }
      .api-options {
        position: absolute;
        top:75%;
        right: 50%;
        width: 340px;
        background: $white;
        box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
        transform: translate(-44.5%, 0);
        .row { margin: 0;}
        input { color: $dark;}
        .copy-link {
          position: initial;
          float: right !important;
          height: 30px;
          margin: 0;
          transform: translate(0, 7%);
          background: #fff;
          border-radius: 20px;
          border: 1px solid $cGreen;
          line-height: normal;
          &:first-child { margin: 0 0 5px 0;}
        }
      }
    }
  }
  .result-main {
    // float: left;
    margin-left: 0;
    font-family: 'Fira Sans';
    .snippet { height: initial;}
    .snippet, .snippet > a {
      position: static;
      width: auto;
      font-size: 15px;
      color: $dark;
    }
  }
  .card-title {
    font-family: inherit;
    max-width: 90%;
    a {
      color: $dark;
      &:visited { color: $dark;}
    }
    .result-credit, em {
      color: $dark;
    }
    em {
      margin-left: 10px;
      font-size: 13px;
      font-style: normal;
    }
  }
  .result-main {
    .snippet {
      .no-desc { display: flex;}
    }
  }
  .card-author {
    color: $cGreen;
    font-weight: 500;
  }
}
/* Pagination */
#results-pagination-region {
  display: inline-block;
  width: 100%;
  margin-top: 15px;
  text-align: center;
  #pagination {
    #page-prev { float: left;}
    #page-next { float: right;}

    li {
      > a {
        color: $dark;
        border: none;
        &:hover { background-color: transparent;}
      }
      &.active > a {
        border-bottom: 2px solid $cGreen;
        background-color: transparent;
      }
    } 
      

    .pagination-results {
      margin: 0;
      .page, a {
        color: $dark;
        border-right: none;
        &:empty { border-bottom: 2px $cGreen solid;}
      }
      a { padding: 0 4px;}
      .current { border-bottom: 3px solid $cGreen;}
    }
  }
}

.dropdown {
  color: $dark;
  font-weight: 400;
  &:hover { box-shadow: 0 -2px 3px rgba(0,0,0,0.25);}
}

.dropdown-menu {
  box-shadow: 0 -2px 3px rgba(0,0,0,0.25);
  .sort-option {
    text-align: center;
    border-top: 1px solid $border;
    &:first-child { border-top: 0;}
    &:hover { background: darken($white,2%);}
    a {
      font: normal 13px 'Fira Sans', serif;
      font-weight: 300;
    }
  }
}

#show-banner-region{
  .download-popover-container {
    .download-popover {
      .api-options {
        .row {
          .api-text { line-height: 43px !important;}
          .btn {
            line-height: 20px !important;
            margin: 6px 0 0 ;
          }
        }
      }
    }
  }
}
